VITE_SUPABASE_URL=https://wgykxhiwrdxbbzftmgym.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndneWt4aGl3cmR4YmJ6ZnRtZ3ltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzOTk2NzIsImV4cCI6MjEwMTk3NTY3Mn0.DF9MyodakjXbyE-XZTPZPaKMPS2BlaytK74kX5myBMg
VITE_API_BASE_URL=http://localhost:8000
